In [83]:
import pandas as pd
from scipy import stats

pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

df = pd.read_excel('./MSP_Projekt_2022-23_Zadani_St_8 (1).xlsx', sheet_name='Úkol 1')
df = df.dropna()
df2 = df.copy() 
#

# drop nan values


# merge columns of Praha and Brno

df2['Praha'] = df2['Praha'].astype(int)
df2['Brno'] = df2['Brno'].astype(int)
df2['Praha'] = df2['Praha'] + df2['Brno']
df2 = df2.drop(columns=['Brno'])
df2 = df2.rename(columns={'Praha': 'Vetsi_mesta'})

# merge columns of Znojmo Tišnov

df2['Znojmo'] = df2['Znojmo'].astype(int)
df2['Tišnov'] = df2['Tišnov'].astype(int)
df2['Znojmo'] = df2['Znojmo'] + df2['Tišnov']
df2 = df2.drop(columns=['Tišnov'])
df2 = df2.rename(columns={'Znojmo': 'Mala_mesta'})

# merge forth, fifth, sixth column

df2['Rokytnice nad Jizerou'] = df2['Rokytnice nad Jizerou'].astype(int)
df2['Jablunkov'] = df2['Jablunkov'].astype(int)
df2['Dolní Věstonice'] = df2['Dolní Věstonice'].astype(int)
df2['Rokytnice nad Jizerou'] = df2['Rokytnice nad Jizerou'] + df2['Jablunkov'] + df2['Dolní Věstonice']
df2 = df2.drop(columns=['Jablunkov', 'Dolní Věstonice'])
df2 = df2.rename(columns={'Rokytnice nad Jizerou': 'obce'})



df2

          Unnamed: 0  Vetsi_mesta  Mala_mesta  obce  okolí studenta
0  počet respondentů         2242        1268   675            20.0
1          zimní čas          834         559   300             5.0
2          letní čas          636         363   210             5.0
3      střídání časů          435         202   108             5.0
4         nemá názor          337         144    57             5.0

# BOD 1

## 1.a

H0 : zimny cas je rovnaky pre vsetky mesta
H1 : zimny cas je rozny pre vsetky mesta

In [84]:
# A - zimny, B - letny , C - striedanie casov

alpha = 0.05

m = 8
q = 1
k = m - q - 1

# sum of first row

sumForEveryRow = df.sum(axis=1,numeric_only=True)
print(sumForEveryRow)

# create variable for p1, p2 in cycle

# cycle trough list of sumForEveryRow

for i in range(1,4):
    p = sumForEveryRow[i]/ sumForEveryRow[0]
    print(p)
    values = df.iloc[0].values

    print(values)
    # create list of expected values for every column

    expectedValues = []
    for j in range(1,9):
        expectedValues.append(values[j] * p)
    print(expectedValues)


    T, p = stats.chisquare(f_obs = df.iloc[i].values[1:,], f_exp = expectedValues)

    print(T)
    print(p)
    print('H0 is rejected' if p < alpha else 'H0 is not rejected')

0    4205.0
1    1698.0
2    1214.0
3     750.0
4     543.0
dtype: float64
0.4038049940546968
['počet respondentů' 1327.0 915.0 681.0 587.0 284.0 176.0 215.0 20.0]
[535.8492271105827, 369.48156956004755, 274.9912009512485, 237.033531510107, 114.68061831153389, 71.06967895362664, 86.8180737217598, 8.076099881093935]
21.82208429188689
0.0027261305392118095
H0 is rejected
0.2887039239001189
['počet respondentů' 1327.0 915.0 681.0 587.0 284.0 176.0 215.0 20.0]
[383.1101070154578, 264.1640903686088, 196.60737217598097, 169.4692033293698, 81.99191438763377, 50.811890606420924, 62.07134363852556, 5.774078478002378]
6.695154988874335
0.4612950531571278
H0 is not rejected
0.178359096313912
['počet respondentů' 1327.0 915.0 681.0 587.0 284.0 176.0 215.0 20.0]
[236.68252080856124, 163.19857312722948, 121.46254458977407, 104.69678953626635, 50.653983353151006, 31.391200951248514, 38.34720570749108, 3.56718192627824]
12.88674457308423
0.0749163919513014
H0 is not rejected

In [85]:
#D, E nova tabula bez okolia studenta , len 3 hodnoty

alpha = 0.05

m = 8
q = 1
k = m - q - 1

# sum of first row

sumForEveryRow = df2.sum(axis=1,numeric_only=True)
print(sumForEveryRow)

# create variable for p1, p2 in cycle

# cycle trough list of sumForEveryRow
x = [1,4] # zimny cas a nema nazor
for i in x:
    p = sumForEveryRow[i]/ sumForEveryRow[0]
    print(p)
    values = df.iloc[0].values

    print(values)
    # create list of expected values for every column

    expectedValues = []
    for j in range(1,9):
        expectedValues.append(values[j] * p)
    print(expectedValues)


    T, p = stats.chisquare(f_obs = df.iloc[i].values[1:,], f_exp = expectedValues)

    print(T)
    print(p)
    print('H0 is rejected' if p < alpha else 'H0 is not rejected')

0    4205.0
1    1698.0
2    1214.0
3     750.0
4     543.0
dtype: float64
0.4038049940546968
['počet respondentů' 1327.0 915.0 681.0 587.0 284.0 176.0 215.0 20.0]
[535.8492271105827, 369.48156956004755, 274.9912009512485, 237.033531510107, 114.68061831153389, 71.06967895362664, 86.8180737217598, 8.076099881093935]
21.82208429188689
0.0027261305392118095
H0 is rejected
0.1291319857312723
['počet respondentů' 1327.0 915.0 681.0 587.0 284.0 176.0 215.0 20.0]
[171.35814506539833, 118.15576694411415, 87.93888228299643, 75.80047562425683, 36.67348394768133, 22.727229488703923, 27.763376932223544, 2.582639714625446]
41.70817693221328
5.917890291884263e-07
H0 is rejected

## F

In [86]:
# F pre rozdelenie 3 miest porovnanie s okolim studenta

# T1, p1 = stats.ttest_ind(df[vetsi mesta], df[okolie studenta])

''' T1, p1 = stats.ttest_ind(df.iloc[1].values[1:], df.iloc[2].values[1:], equal_var=False)

print(T1,p1)
print("najvacsi korelacia je medzi 3 miestami a okolim studenta") '''

' T1, p1 = stats.ttest_ind(df.iloc[1].values[1:], df.iloc[2].values[1:], equal_var=False)\n\nprint(T1,p1)\nprint("najvacsi korelacia je medzi 3 miestami a okolim studenta") '

# 2

In [87]:

''' xi =

yi = 

zi = 

F = np.column_stack((xi, yi, zi))

F = sm.add_constant(F)



model = sm.OLS(y, F).fit()
print(model.summary()) '''

' xi =\n\nyi = \n\nzi = \n\nF = np.column_stack((xi, yi, zi))\n\nF = sm.add_constant(F)\n\n\n\nmodel = sm.OLS(y, F).fit()\nprint(model.summary()) '